@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #FFDF7D;      /* Warm yellow - highlights */
  --color-secondary: #808080;    /* Soft gray - text, borders */
  --color-background: #1C1C1C;   /* Deep dark - card and background */
  --color-success: #00FF7F;      /* Green for status indicators */
  --color-danger: #FF4C4C;     
  --font-main: var(--font-geist);
}
body{
  font-family: var(--font-main);
  --font-geist-sans: 'Geist Sans', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
  
}
::selection {
  background-color: #FFDF7D; /* Example: Tomato red */
  color: white; /* Text color when selected */
}

.custom-heading {
  font-family: system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 48px;
  line-height: 48px;
  font-weight: 500;
  background: linear-gradient(to top, #6b7280, #ffffff); /* Gray bottom to white top */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* For Firefox */
  color: transparent;    /* Fallback */
  
}
.custom-heading2 {
  font-family: "Instrument Serif", "Instrument Serif Fallback", serif;
  font-style: italic;
  font-weight: 500;
  color: #FFDF7D; /* Warm yellow - highlights */
  font-size: 60px;
  line-height: 60px;
  
}

/* ===== Custom Utility Classes ===== */
@layer utilities {
  .bg-primary {
    background-color: var(--color-primary);
  }
  .text-primary {
    color: var(--color-primary);
  }

  .bg-secondary {
    background-color: var(--color-secondary);
  }
  .text-secondary {
    color: var(--color-secondary);
  }

  .bg-background {
    background-color: var(--color-background);
  }
  .text-background {
    color: var(--color-background);
  }

  .bg-success {
    background-color: var(--color-success);
  }
  .text-success {
    color: var(--color-success);
  }

  .bg-danger {
    background-color: var(--color-danger);
  }
  .text-danger {
    color: var(--color-danger);
  }
  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .animate-shimmer {
    animation: shimmer 1.5s infinite linear;
    background-size: 200% 100%;
  }
} 